---
layout: post
title: Мои статьи
subtitle: ''
extlink: ''
index: true
---

<ul class="articles-list">
  {% for post in site.posts %}
    {% capture that_year %}{{ this_year || '' }}{% endcapture %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if this_year != that_year %}
      {% if !forloop.first %}
        <div class="articles-list__title" data-scroll-reveal="enter ease 0">{{ this_year }}</div>
      {% else %}
        </ul><ul class="articles-list__list">
          <div class="articles-list__title">{{ this_year }}</div>
      {% endif %}
    {% endif %}
    <div data-scroll-reveal="enter ease 0">
      {% include article-snippet.html %}
    </div>
  {% endfor %}
</ul>