<nofollow>
  <div class="about">
    <p>Меня зовут Антон Шувалов. Я ведущий JS-разработчик и team lead
       в <a href="http://books.enaza.ru">Enaza Books</a>.  Также я создатель
       стартапа <a href="http://reading-list.ru">Reading List</a>. Кроме программирования я
       <a href="{{ site.author.soundcloud }}">пишу музыку</a> и иногда занимаюсь дизайном
       интерфейсов. Я есть в <a href="{{ site.author.twitter }}">Twitter</a>,
       <a href="{{ site.author.facebook }}">Facebook</a>,
       <a rel="author" href="{{ site.author.gplus }}">Google Plus</a> и
       на <a href="{{ site.author.github }}">GitHub</a>. Вы можете написать
       мне <a href="mailto:{{ site.author.email }}">email</a>.
    </p>
  </div>
</nofollow>