<nofollow>
  <div class="about">
    <p>Меня зовут Антон Шувалов. Я работаю
       в <a href="http://lazada.com/">Lazada</a>. Кроме программирования я
       <a href="{{ site.author.soundcloud }}">пишу музыку</a> и иногда занимаюсь дизайном
       интерфейсов. Я есть в <a href="{{ site.author.twitter }}">Twitter</a>,
       <a href="{{ site.author.facebook }}">Facebook</a>,
       <a rel="author" href="{{ site.author.gplus }}">Google Plus</a> и
       на <a href="{{ site.author.github }}">GitHub</a>. Вы можете написать
       мне <a href="mailto:{{ site.author.email }}">email</a>.
    </p>
    <p>
    Если вы задумали порадовать меня небольшим подарком (<i>не может быть!</i>) —
      вот <a href="http://wantr.ru/shuvalov_anton/">список моих мещанских мечт</a>.
    </p>
  </div>
</nofollow>
