<li class="articles-list__item">
  {% if post.image %}
    <div class="post-image"><img src="{{ post. image}}" alt="{{ post.title }}"></div>
  {% endif %}
  <a class="articles-list__link" {% if post.extlink %} href="{{ post.extlink }}" target="_blank" {% else %} href="{{ post.url }}"{% endif %}>
    {{ post.title }}
  </a>
  {% for label in post.labels %}
    <a {% if post.extlink %} href="{{ post.extlink }}" target="_blank" {% else %} href="{{ post.url }}"{% endif %}class='articles-list__label'>{{ label }}</a>
  {% endfor %}
  <div class="articles-list__description">
    {{ post.description }}
  </div>
</li>
