<div class='feature-post {% if feature_small %}feature-post__small{% endif %}'>
  <a class="feature-image" href="{{ feature.url }}"><img src="{{ feature.cover }}" alt="{{ feature.title }}"></a>
  <div class='feature__description'>
    <a class="articles-list__link" href="{{ feature.url }}">
      {{ feature.title }}
    </a>
    {% for label in feature.labels %}
      <a href="{{ feature.url }}" class='articles-list__label'>{{ label }}</a>
    {% endfor %}
    <div class="articles-list__description">
      {{ feature.description }}
    </div>
  </div>
</div>
