<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="ymvEUIQUSh8G3bf-H26Z6iSAE8Acxa-5qSWb5MSZtvY" />
  <meta name='yandex-verification' content='7e292fe6019ef904' />
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{% for keyword in page.keywords %}{{ keyword }},{% endfor %}">
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="//f.fontdeck.com/s/css/lYJdTpnzyydvKhAmJX+wW6e0BuU/shuvalov.info/44392.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/prism.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="shortcut icon" href="/assets/i/favicon.png">
  <link rel="stylesheet" href="/assets/css/social-likes_flat.css">
  <script src="/assets/js/scrollReveal.js"></script>
</head>
