.title
  margin 0 0 .2rem -2px

.group_title
  color color__subdued
  font-style italic
  font-family font__italic
  padding-bottom 0

.note
  color #444
  padding .5rem 2rem 1rem
  margin-bottom 1rem
  background-color #fff
  box-shadow shadow__tiny


.youtube
  width: 100%
  height: 400px

.hidden
  background-color: color__subdued
  color transparent
  text-shadow: none
  &:hover
    color: inherit
    background-color: transparent

.twitter-tweet
.youtube
  margin-bottom: 2rem !important


.translation
  font-size .8em
  font-family font__italic
  font-style italic
  margin-top -1em
  padding-bottom 2em

.content__date
  font-size .8rem
  font-style italic
  color color__subdued
  text-align right
  margin-bottom 1rem


.photo-author
  margin-top -1rem
  text-align right
  font-size 0.8rem
  color color__subdued

.avatar
  display block
  size 80px
  position absolute
  overflow hidden
  right 100%
  margin -1rem 1rem 0 0
  background avatar #fff
  background-size cover
  border-radius 50%
  box-shadow inset 0 1px 3px rgba(0,0,0,.5)

@media (min-width: 320px)
  .avatar
    display none
  .book-cover
    width: 100%
    display: block
    margin: 0 auto
    float: none
@media (min-width: 720px)
  .avatar
    display none
  .book-cover
    width: 280px
    float: right
    margin-left: 1rem
@media (min-width: 1024px)
  .avatar
    display block
  .book-cover
    width: 280px
    float: right
    margin-left: 1rem


