code
  background-color #fff
  box-shadow shadow__tiny
  font-size .8rem
  line-height 1
  background linear-gradient(top, #f0f0f0 0%, #f5f5f5 5%, #fff 20%)

pre
  padding 1rem 1rem
  overflow auto
  background-color #fff
  box-shadow shadow__tiny

code
  font-family Consolas, Monaco, 'Andale Mono', monospace
  padding 4px 4px 2px

pre > code
  padding 0
  background transparent
  box-shadow none

.highlight
  margin-bottom 1rem

