.fotorama
  margin-bottom: 1rem

.feature-post
  position: relative
  margin-bottom: 2rem
  box-shadow shadow__tiny

.feature-post__small
  .feature-image
    height: 160px

.feature-post__super
  .feature-image
    height: 360px

.feature-image
  height: 240px
  overflow: hidden
  display: block


.feature-image img
  height: 360px
  display: block

.feature__description
  position: absolute
  bottom: 0
  background-color: rgba(0,0,0,.60)
  padding: .5rem 1rem
  text-shadow: none
  width: 100%
  color: color__moarsubdued

@media (min-width: 320px)
  .feature-post
    display: none
@media (min-width: 720px)
  .feature-post
    display: block

