.feature-post
  position: relative
  margin-bottom: 2rem
.feature-image
.feature-image img
  display: block
.feature__description
  position: absolute
  bottom: 0
  background-color: rgba(0,0,0,.75)
  padding: .5rem 1rem
  color: white !important
  text-shadow: none
  width: 100%

@media (min-width: 320px)
  .feature-post
    display: none
@media (min-width: 720px)
  .feature-post
    display: block

