.header
  position relative
  margin-top 3rem
  color color__subdued
  a
    color color__subdued
    &:hover
      color color__blue
  p a
    font-size 2rem

.about
  font-size .9rem
  font-family font__base
  color color__subdued
  clear: both

.likes-wrapper
  margin-bottom 1rem

@media (min-width: 1024px)
  .likes-wrapper
    padding-top: 1rem
    margin-left: 1rem
    width: 180px
    position: absolute
    top: 0
    left: 100%
  .sticky-fixed
    position: fixed
    top: 1rem

.rss-link
  margin 8px 0 0 1rem
  float right
  color #2996cc !important
  text-decoration underline

