.header
  position relative
  margin-top 3rem
  color color__subdued
  a
    color color__subdued
    &:hover
      color color__blue
  p a
    font-size 2rem

.about
  font-size .9rem
  font-family font__base
  color color__subdued
  clear: both

.likes-wrapper
  margin-bottom 1rem;

.rss-link
  margin 8px 0 0 1rem
  float right
  color #2996cc !important
  text-decoration underline

