// Dependencies.
@import 'nib'


// # Variables.

// Colors
color__white                 = #FFF
color__dark                  = #261F00
color__blue                  = #2996CC
color__subdued               = #99968A
color__moarsubdued           = #D6D4CC

// Fonts

font__base = Georgia, 'Times New Roman', serif
font__size = 18px

// Images
avatar                       = url('/assets/i/avatar.png')
noise                        = url('/assets/i/noise_2.png')
extlinkBg                    = url('/assets/i/extlink.png')

// Effects
shadow__tiny                 = 0 1px 1px rgba(0,0,0,.15)
shadow__pressed_effect       = 0 1px 0 rgba(255,255,255, .5)


global-reset()

fragment (color)
  background-color color
  box-shadow shadow__tiny
  padding 4px 4px 2px
  // outline solid #F2DB80 1px // TODO color+5black


*
  box-sizing border-box

html
  font-family font__base
  font-size font__size


body
  background noise #F0EFE8
  text-shadow shadow__pressed_effect
  color color__dark
  line-height 1.4

.wrapper
  margin 0 auto

.widget
  margin 1rem 0
  size 728px 90px
  background-color #f4f4f4
  box-shadow shadow__tiny

.widget-320
  display none
  size 320px 50px
  margin 1rem 0 1.5rem -1rem
  background-color #f4f4f4
  box-shadow shadow__tiny

.avatar
  background avatar
  size 66px 67px


@media (min-width: 320px)
  .avatar
    position static
    margin 0 auto 2rem
  .header p
    text-align center
  .wrapper
    width 280px
  .widget
    display none
  .widget-320
    display block
  blockquote::before
  blockquote::after
    display none 

@media (min-width: 720px)
  .avatar
    position absolute
    left -112px
    top -10px
  .header p
    text-align left
  .wrapper
    width 728px
  .widget-320
    display none
  .widget
    display block
  blockquote::before
  blockquote::after
    display block

a
  color color__blue
  text-decoration none
  &:hover
    color color__blue
    text-decoration underline

.header 
  position relative
  margin-top 3rem
  color color__subdued
  a 
    color color__subdued
    &:hover
      color color__blue
  p
    font-size 2rem

.about 
  font-size .8rem
  color color__subdued
  clearfix()


.likes-wrapper
  margin-bottom 1rem;

.highlight
  margin-bottom 1rem

h1,h2,h3,h4,p,ul,ol,pre
  padding-bottom 1rem

h1,h2,h3,h4
  marginr-top 1rem

li
  padding-bottom .5rem
  position relative

h1
h2
  font-size 1.6rem
h3
  font-size 1.4rem
h4
  font-size 1rem
  font-weight bold

strong
  font-weight bold

em
  font-style italic

.content img
  max-width 100%
  box-shadow shadow__tiny

blockquote
  position relative
  font-style italic
  &::before
  &::after
    font-size 4rem
    color color__subdued
    position absolute
  &::before
    content "«"
    right 100%
    margin-right 1rem
    top -2rem
  &::after
    content "»"
    left 100%
    margin-left 1rem
    bottom -.85rem


ul
  position relative
  li
    &::before
      content '-';
      display block;
      position absolute;
      right 100%;
      margin-right 1em;
      color color__subdued;

ol
  position relative
  margin-left -32px
  & li
    padding-left 32px
  & .number
    absolute left 0
    color color__subdued
    font-style italic

.note
  color #444
  padding .5rem 2rem 1rem
  margin-bottom 1rem
  background-color #f4f4f4
  box-shadow shadow__tiny

code
  background-color #f4f4f4
  box-shadow shadow__tiny
  font-size .8rem
  line-height 1

pre
  padding 1rem 1rem
  overflow auto
  background-color #fff
  box-shadow shadow__tiny

code
  font-family Consolas, Monaco, 'Andale Mono', monospace
  padding 4px 4px 2px

pre > code
  padding 0
  background-color transparent
  box-shadow none

.content
  margin 1rem 0 6rem
  line-height 1.5

.translation
  font-size .8em
  font-style italic
  margin-top -1.5em
  padding-bottom 2em

.content__date
  font-size .8rem
  font-style italic
  color color__subdued
  text-align right

.articles-list
  position relative

.articles-list__title
  position absolute
  left -112px
  display block
  width 64px
  text-align center
  color color__subdued

.articles-list__label
  color color__subdued
  font-style italic
  font-size .8rem
  padding 4px 4px 2px
  background-color #f4f4f4
  box-shadow shadow__tiny

// .articles-list__item

.articles-list__link
  text-decoration none
  color inherit
  &:hover
    color color__blue
    text-decoration underline

.articles-list__description
  color color__subdued
  font-size .8rem
  font-style italic