// Dependencies.
@import 'nib'


// # Variables.

// Colors
color__white                 = #FFF
color__dark                  = #261F00
color__blue                  = #2996CC
color__subdued               = #99968A
color__moarsubdued           = #D6D4CC

// Fonts

font__title = "Neacademia Text Regular", Georgia, 'Times New Roman', serif
font__base = "Neacademia Text Regular", Georgia, 'Times New Roman', serif
font__italic = "Neacademia Display Italic", Georgia, 'Times New Roman', serif
font__size = 20px

// Images
avatar                       = url('/assets/i/avatar.png')
noise                        = url('/assets/i/noise_2.png')
extlinkBg                    = url('/assets/i/extlink.png')

// Effects
shadow__tiny                 = 0 1px 1px rgba(0,0,0,.25)
shadow__pressed_effect       = 0 1px 0 rgba(250,250,250, .5)


global-reset()

*
  box-sizing border-box

html
  font-family font__base
  font-size font__size


body
  background #FFFFFC
  text-shadow shadow__pressed_effect
  color color__dark
  line-height 1.6

.wrapper
  margin 0 auto

.widget
  margin 1rem 0
  size 728px 90px
  background-color #fff
  box-shadow shadow__tiny

.widget-320
  display none
  size 320px 50px
  margin 1rem 0 1.5rem -1rem
  background-color #fff
  box-shadow shadow__tiny

.avatar
  display block
  size 80px
  position absolute
  overflow hidden
  right 100%
  margin -1rem 1rem 0 0
  background avatar #fff
  background-size cover
  border-radius 50%
  box-shadow inset 0 1px 3px rgba(0,0,0,.5)

.rss-link
  margin-top 8px
  float right
  color #2996cc !important
  text-decoration underline

@media (min-width: 320px)
  .img-left
  .img-right
    display block
    float none
    margin 0 auto 1rem
  .avatar
    display none
  .wrapper
    width 280px
  .widget
    display none
  .widget-320
    display block

  blockquote:before
  blockquote:after
    display none
  ul li::before
  ol .number
    margin-right .5em

  .pagination__previous-arrow
    margin-right .5em
  .pagination__next-arrow
    margin-left .5em

  .hide-on-iphone
    display none

@media (min-width: 720px)
  .img-left
    display inline-block
    float left
    margin .2rem 1rem 1rem 0
  .img-right
    float right
    margin .2rem 0 1rem 1rem
  .avatar
    display none
  .wrapper
    width 700px
  .widget-320
    display none
  .widget
    display block
  .pagination__previous-arrow
    margin-right .5rem
  .pagination__next-arrow
    margin-left .5rem

  blockquote:before,
  blockquote:after
    display block
    font-size 2rem
    font-family 'Georgia', serif
    font-style normal
    color color__subdued
    position absolute
  blockquote:before
    margin-right .4rem
    content "«"
    right 100%
    top -.95rem
  blockquote:after
    content "»"
    left 100%
    margin-left .4rem
    bottom .5rem
  ul li:before
  ol .number
    margin-right .5rem

  .hide-on-iphone
    display inline

@media (min-width: 1024px)
  .img-left
    display inline-block
    float left
    margin .2rem 1rem 1rem 0
  .img-right
    float right
    margin .2rem 0 1rem 1rem
  .avatar
    display block
  .wrapper
    width 728px
  .widget-320
    display none
  .widget
    display block

  .pagination__previous-arrow
    margin-right 1rem
  .pagination__next-arrow
    margin-left 1rem

  blockquote:before
  blockquote:after
    display block
    font-family 'Georgia', serif
    font-size 4rem
    font-style normal
    color color__subdued
    position absolute
  blockquote:before
    font-size 4rem
    content "«"
    right 100%
    top -2.1rem
    margin-right 1rem
  blockquote:after
    content "»"
    left 100%
    bottom -.6rem
    margin-left 1rem
  ul li:before
  ol .number
    margin-right 1em
  
  .hide-on-iphone
    display inline


ol
  position relative
  & .number
    absolute right 100%
    font-family font__italic
    font-style italic

a
  color color__blue
  text-decoration none
  &:hover
    color color__blue
    text-decoration underline

.header 
  position relative
  margin-top 3rem
  color color__subdued
  a 
    color color__subdued
    &:hover
      color color__blue
  p a
    font-size 2rem

.about
  font-size .9rem
  font-family font__base
  color color__subdued
  clearfix()


.likes-wrapper
  margin-bottom 1rem;

.highlight
  margin-bottom 1rem


h1,h2,h3,h4,p,ul,ol,pre
  padding-bottom 1rem

h1,h2,h3,h4, .header p
  font-weight bold
  font-family font__title
  margin .5rem 0 0 -2px
  line-height 1 !important

li
  padding-bottom .8rem
  position relative

h1
h2
  font-size 1.6rem
h3
  font-size 1.4rem
h4
  font-size 1rem
  font-weight bold

strong
  font-weight bold

i
em
  font-family font__italic
  font-style italic

.content img
  max-width 100%
  box-shadow shadow__tiny

blockquote
  position relative
  font-family font__italic
  font-style italic

ul
  position relative
  li
    &::before
      content '-';
      display block;
      position absolute;
      right 100%;
      color color__dark;

.note
  color #444
  padding .5rem 2rem 1rem
  margin-bottom 1rem
  background-color #fff
  box-shadow shadow__tiny

code
  background-color #fff
  box-shadow shadow__tiny
  font-size .8rem
  line-height 1

pre
  padding 1rem 1rem
  overflow auto
  background-color #fff
  box-shadow shadow__tiny

code
  font-family Consolas, Monaco, 'Andale Mono', monospace
  padding 4px 4px 2px

pre > code
  padding 0
  background-color transparent
  box-shadow none

.content
  margin 1rem 0 6rem
  line-height 1.5

.translation
  font-size .8em
  font-family font__italic
  font-style italic
  margin-top -1.5em
  padding-bottom 2em

.content__date
  font-size .8rem
  font-style italic
  color color__subdued
  text-align right
  margin-bottom 1rem

.articles-list
  position relative

.articles-list__title
  position absolute
  left -112px
  display block
  width 64px
  text-align center
  color color__dark

.articles-list__label
  color #736750
  font-family font__italic
  font-style italic
  font-size .8rem
  padding 4px 4px 2px
  background-color #fff
  box-shadow shadow__tiny

.articles-list__link
  text-decoration none
  color inherit
  &:hover
    color color__blue
    text-decoration underline

.articles-list__description
  color color__subdued
  font-size .9rem
  font-family font__base

.triptych
  margin-top -10px // TODO: Переписать на схлопывания

.triptych__left
.triptych__right
  size 280px 400px
  overflow hidden
  margin 10px 0
.triptych__left
  float left
.triptych__right
  float right

.triptych__right-top
.triptych__left-top
  size 428px auto
  overflow hidden
  margin 10px 0 0
.triptych__right-top
  float right
.triptych__left-top
  float left

.triptych__right-bottom
.triptych__left-bottom
  size 428px auto
  overflow hidden
  margin 20px 0 10px
.triptych__right-bottom
  float right
.triptych__left-bottom
  float left

.clearfix
  clear: both;



.pagination
  margin 2rem 0 0
  position relative
  clearfix()

.pagination__previous-arrow
.pagination__next-arrow
  position absolute
  font-size 1rem

.pagination__previous-arrow
  right 100%

.pagination__next-arrow
  left 100%

.pagination__previous-page
.pagination__next-page
  position absolute
  font-family font__italic
  font-style italic
  
.pagination__previous-page
  left 0

.pagination__next-page
  right 0
  text-align right

.pagination__counter
  font-family font__italic
  font-style italic
  color color__subdued
  margin 0 auto
  text-align center

ul.books-list
  .books-list__item::before
    display none !important

.books-list__item
  display block
  float left
  width 182px
  height 273px

.photo-author
  margin-top -1rem
  text-align right
  font-size 0.8rem
  color color__subdued