.quiz
  background-color white
  min-height 200px
  box-shadow shadow__tiny
  position relative
  padding: 20px 20px 40px
  pre
    background-color: #f9f9f9
  input.correct
    box-shadow: 0 0 4px 2px green

.quiz__submit
  width 120px
  height 30px
  line-height 30px

.quiz__counter
  position absolute
  bottom 0
  right 20px
  font: font__italic
  font-style: italic
  color: color__subdued
  span
    color: black

.question
  display: none

