.triptych
  margin-top -10px // TODO: Переписать на схлопывания

.triptych__left
.triptych__right
  size 280px 400px
  overflow hidden
  margin 10px 0
.triptych__left
  float left
.triptych__right
  float right

.triptych__right-top
.triptych__left-top
  size 428px auto
  overflow hidden
  margin 10px 0 0
.triptych__right-top
  float right
.triptych__left-top
  float left

.triptych__right-bottom
.triptych__left-bottom
  size 428px auto
  overflow hidden
  margin 20px 0 10px
.triptych__right-bottom
  float right
.triptych__left-bottom
  float left

