// Colors
color__white            = #FFF
color__dark             = #261F00
color__blue             = #2996CC
color__subdued          = #99968A
color__moarsubdued      = #D6D4CC

// Fonts

font__title    = "Neacademia Text Regular", Georgia, 'Times New Roman', serif
font__base     = "Neacademia Text Regular", Georgia, 'Times New Roman', serif
font__italic   = "Neacademia Display Italic", Georgia, 'Times New Roman', serif
font__size     = 20px

// Images
avatar         = url('/assets/i/avatar.png')
noise          = url('/assets/i/noise_2.png')
extlinkBg      = url('/assets/i/extlink.png')

// Effects
shadow__tiny                 = 0 1px 1px rgba(0,0,0,.25)
shadow__pressed_effect       = 0 1px 0 rgba(250,250,250, .5)

