html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
fragment (color) {
  background-color: color;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  padding: 4px 4px 2px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "Neacademia Text Regular", Georgia, 'Times New Roman', serif;
  font-size: 20px;
}
body {
  background: #fffffc;
  text-shadow: 0 1px 0 rgba(250,250,250,0.5);
  color: #261f00;
  line-height: 1.6;
}
.wrapper {
  margin: 0 auto;
}
.widget {
  margin: 1rem 0;
  width: 728px;
  height: 90px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.widget-320 {
  display: none;
  width: 320px;
  height: 50px;
  margin: 1rem 0 1.5rem -1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.avatar {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  overflow: hidden;
  right: 100%;
  margin: -1rem 1rem 0 0;
  background: url("/assets/i/avatar.png") #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}
.rss-link {
  margin-top: 8px;
  float: right;
  color: #2996cc !important;
  text-decoration: underline;
}
@media (min-width: 320px) {
  .img-left,
  .img-right {
    display: block;
    float: none;
    margin: 0 auto 1rem;
  }
  .avatar {
    display: none;
  }
  .wrapper {
    width: 280px;
  }
  .widget {
    display: none;
  }
  .widget-320 {
    display: block;
  }
  :before,
  blockquote::after {
    display: none;
  }
  ul li::before {
    margin-right: 0.5em;
  }
}
@media (min-width: 720px) {
  .img-left {
    display: inline-block;
    float: left;
    margin: 0.2rem 1rem 1rem 0;
  }
  .img-right {
    float: right;
    margin: 0.2rem 0 1rem 1rem;
  }
  .avatar {
    display: block;
  }
  .wrapper {
    width: 728px;
  }
  .widget-320 {
    display: none;
  }
  .widget {
    display: block;
  }
  :before,
  blockquote::after {
    display: block;
  }
  ul li::before {
    margin-right: 1em;
  }
}
a {
  color: #2996cc;
  text-decoration: none;
}
a:hover {
  color: #2996cc;
  text-decoration: underline;
}
.header {
  position: relative;
  margin-top: 3rem;
  color: #99968a;
}
.header a {
  color: #99968a;
}
.header a:hover {
  color: #2996cc;
}
.header p a {
  font-size: 2rem;
}
.about {
  font-size: 0.9rem;
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
  color: #99968a;
  zoom: 1;
}
.about:before,
.about:after {
  content: "";
  display: table;
}
.about:after {
  clear: both;
}
.likes-wrapper {
  margin-bottom: 1rem;
}
.highlight {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
pre {
  padding-bottom: 1rem;
}
h1,
h2,
h3,
h4,
.header p {
  font-family: Georgia, "Times New Roman", serif;
  margin: 0.5rem 0 0 -2px;
  line-height: 1 !important;
}
li {
  padding-bottom: 0.5rem;
  position: relative;
}
h1,
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
}
strong {
  font-weight: bold;
}
i,
em {
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
}
.content img {
  max-width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
blockquote {
  position: relative;
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
}
blockquote::before,
blockquote::after {
  font-family: 'Georgia', serif;
  font-style: normal;
  font-size: 4rem;
  color: #99968a;
  position: absolute;
}
blockquote::before {
  content: "«";
  right: 100%;
  margin-right: 1rem;
  top: -2.3rem;
}
blockquote::after {
  content: "»";
  left: 100%;
  margin-left: 1rem;
  bottom: -0.6rem;
}
ul {
  position: relative;
}
ul li::before {
  content: '-';
  display: block;
  position: absolute;
  right: 100%;
  color: #99968a;
}
ol {
  position: relative;
  margin-left: -32px;
}
ol li {
  padding-left: 32px;
}
ol .number {
  position: absolute;
  left: 0;
  color: #99968a;
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
}
.note {
  color: #444;
  padding: 0.5rem 2rem 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
code {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  font-size: 0.8rem;
  line-height: 1;
}
pre {
  padding: 1rem 1rem;
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  padding: 4px 4px 2px;
}
pre > code {
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content {
  margin: 1rem 0 6rem;
  line-height: 1.5;
}
.translation {
  font-size: 0.8em;
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
  margin-top: -1.5em;
  padding-bottom: 2em;
}
.content__date {
  font-size: 0.8rem;
  font-style: italic;
  color: #99968a;
  text-align: right;
  margin-bottom: 1rem;
}
.articles-list {
  position: relative;
}
.articles-list__title {
  position: absolute;
  left: -112px;
  display: block;
  width: 64px;
  text-align: center;
  color: #261f00;
}
.articles-list__label {
  color: #736750;
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-size: 0.8rem;
  padding: 4px 4px 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.25);
  box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}
.articles-list__link {
  text-decoration: none;
  color: inherit;
}
.articles-list__link:hover {
  color: #2996cc;
  text-decoration: underline;
}
.articles-list__description {
  color: #99968a;
  font-size: 0.9rem;
  font-family: "Neacademia Display Italic", Georgia, 'Times New Roman', serif;
  font-style: italic;
}
.triptych {
  margin-top: -10px;
}
.triptych__left,
.triptych__right {
  width: 280px;
  height: 400px;
  overflow: hidden;
  margin: 10px 0;
}
.triptych__left {
  float: left;
}
.triptych__right {
  float: right;
}
.triptych__right-top,
.triptych__left-top {
  width: 428px;
  height: auto;
  overflow: hidden;
  margin: 10px 0 0;
}
.triptych__right-top {
  float: right;
}
.triptych__left-top {
  float: left;
}
.triptych__right-bottom,
.triptych__left-bottom {
  width: 428px;
  height: auto;
  overflow: hidden;
  margin: 20px 0 10px;
}
.triptych__right-bottom {
  float: right;
}
.triptych__left-bottom {
  float: left;
}
.clearfix {
  clear: both;
}
