html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
fragment (color) {
  background-color: color;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  padding: 4px 4px 2px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 18px;
}
body {
  background: url("/assets/i/noise_2.png") #f0efe8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  color: #261f00;
  line-height: 1.4;
}
.wrapper {
  margin: 0 auto;
}
.widget {
  margin-top: 1rem;
  width: 728px;
  height: 90px;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
@media (min-width: 320px) {
  .wrapper {
    width: 280px;
  }
}
@media (min-width: 720px) {
  .wrapper {
    width: 728px;
  }
}
a {
  color: #2996cc;
  text-decoration: none;
}
a:hover {
  color: #2996cc;
  text-decoration: underline;
}
.header {
  position: relative;
  margin-top: 3rem;
  color: #99968a;
}
.header a {
  color: #99968a;
}
.header a:hover {
  color: #2996cc;
}
.about {
  font-size: 0.8rem;
  color: #99968a;
  zoom: 1;
}
.about:before,
.about:after {
  content: "";
  display: table;
}
.about:after {
  clear: both;
}
.avatar {
  width: 64px;
  height: 64px;
  position: absolute;
  left: -112px;
  top: -10px;
}
.likes-wrapper {
  margin-bottom: 2rem;
}
.highlight {
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
pre {
  padding-bottom: 1rem;
}
h1,
h2,
h3,
h4 {
  marginr-top: 1rem;
}
li {
  padding-bottom: 0.5rem;
  position: relative;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
  font-weight: bold;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.content img {
  max-width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
ul {
  position: relative;
}
ul li::before {
  content: '-';
  display: inline-block;
  position: absolute;
  left: -1em;
  width: 1em;
  color: #99968a;
}
ol {
  position: relative;
  margin-left: -32px;
}
ol li {
  padding-left: 32px;
}
ol .number {
  position: absolute;
  left: 0;
  color: #99968a;
  font-style: italic;
}
code {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  font-size: 0.8rem;
  line-height: 1;
}
pre {
  padding: 1rem 1rem;
  overflow: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}
code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  padding: 4px 4px 2px;
}
pre > code {
  padding: 0;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content {
  margin: 1rem 0 6rem;
  line-height: 1.5;
}
.translation {
  font-size: 0.8em;
  font-style: italic;
  margin-top: -1.5em;
  padding-bottom: 2em;
}
.content__date {
  font-size: 0.8rem;
  font-style: italic;
  color: #99968a;
  text-align: right;
}
.articles-list {
  position: relative;
}
.articles-list__title {
  position: absolute;
  left: -112px;
  display: block;
  width: 64px;
  text-align: center;
  color: #99968a;
}
.articles-list__subtitle {
  font-style: italic;
  background-color: #ffe788;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  font-size: 0.8rem;
  padding: 4px 4px 2px;
  outline: solid #f2db80 1px;
}
.articles-list__item .articles-list__link {
  text-decoration: none;
  color: inherit;
}
.articles-list__item .articles-list__link:hover {
  color: #2996cc;
  text-decoration: underline;
}
