.phonegap .sky {
  position:relative;
  height:360px;
  box-shadow: #888888 0 1px 4px;
  margin-bottom:20px;
  background:url(http://31808.selcdn.ru/it-prm/pics/phonegap_cloud.jpg) 0 50% repeat-x;
  -webkit-animation: animate-cloud 20s linear infinite;
  -moz-animation: animate-cloud 20s linear infinite;
  -ms-animation: animate-cloud 20s linear infinite;
  -o-animation: animate-cloud 20s linear infinite;
  animation: animate-cloud 20s linear infinite;
}

.phonegap .bot {
  height: 220px;
  position: absolute;
  left: 70px;
  top: 50%;
  margin-top: -110px;
  -webkit-animation: animate-bot 3s ease-in-out infinite;
  -moz-animation: animate-bot 3s ease-in-out infinite;
  -ms-animation: animate-bot 3s ease-in-out infinite;
  -o-animation: animate-bot 3s ease-in-out infinite;
  animation: animate-bot 3s ease-in-out infinite;
}

@media (max-width: 480px) {
  .phonegap .bot {
    height:160px !important;
    top: 60%;
    left: 16px;
  }
}


@-webkit-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
@-ms-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
@-o-keyframes animate-cloud {
  from {
    background-position: 600px 100%;
  }
  to {
    background-position: 0 100%;
  }
}
.animate-cloud-key from {
  background-position: 600px 100%;
}
.animate-cloud-key to {
  background-position: 0 100%;
}
@-webkit-keyframes animate-bot {
  from {
    margin-top: -120px;
  }
  50% {
    margin-top: -110px;
  }
  to {
    margin-top: -120px;
  }
}
@-moz-keyframes animate-bot {
  from {
    margin-top: -120px;
  }
  50% {
    margin-top: -110px;
  }
  to {
    margin-top: -120px;
  }
}
@-ms-keyframes animate-bot {
  from {
    margin-top: -120px;
  }
  50% {
    margin-top: -110px;
  }
  to {
    margin-top: -120px;
  }
}
@-o-keyframes animate-bot {
  from {
    margin-top: -120px;
  }
  50% {
    margin-top: -110px;
  }
  to {
    margin-top: -120px;
  }
}
.animate-bot-key from {
  margin-top: -120px;
}
.animate-bot-key 50% {
  margin-top: -110px;
}
.animate-bot-key to {
  margin-top: -120px;
}