<!DOCTYPE html>
<html lang="ru">
  {% include head.html %}
  <body>
    <div class="wrapper">
      {% include header.html %}
      <div class="content" id="content">
        <h1 class="title">{{ page.title }}</h1>
        {% if page.translation %}
          <div class="translation">
            Перевод  <a href="{{ page.translation.link }}">{{ page.translation.author }} — {{ page.translation.title }}</a>
          </div>
        {% endif %}
        {{ content }}
        {% if page.date %}
          <div class="content__date">{{ page.date | date: "%-d.%m.%Y" }}</div>
        {% endif %}
        {% if page.index != true %}
          <div class="post-meta" data-scroll-reveal="enter ease 0">
            {% include likes.html %}
            {% if site.disable_related != true %}
              {% include related-posts.html %}
            {% endif %}
            {% if site.disqus %}
              {% include disqus.html %}
            {% endif %}
          </div>
        {% endif %}
        {% if site.google_adsense %}
          {% include ad-728x90.html %}
          {% include ad-320x50.html %}
        {% endif %}
      </div>
    </div>
    {% include scripts.html %}
    {% if site.google_analytics %}
      {% include google-analytics.html %}
    {% endif %}
  </body>
</html>
