doctype 5
html(lang='ru')
  head
    title Hi
    link(href='/assets/css/main.css',type='text/css',rel='stylesheet')
  body
    .wrapper
      .header
        h1.header__title Антон Шувалов
      .about
        .about__avatar
          img(src='/assets/i/avatar.png')
        .about__text
          :markdown
             Меня зовут Антон. Я JS-разработчик в [Enaza Books][0]. Кроме программирования я 
             [пишу музыку][0] и иногда занимаюсь дизайном интерфейсов. Я есть в [Twitter][0], 
             [Facebook][0] и на [GitHub][0]. Вы можете написать мне [email][0].
             [0]: #

      .hr

      .articles-list
        .articles-list__title Мои статьи
        .articles-list__year 2013
