- var articles = ['Frontender.info: Как устроена Basic-авторизация в Express.js', 'Как устроен Passport.JS', 'Дизайнер, архитектор, разработчик', 'Сравнение скорости выполнения функций в JavaScript', 'Классификация русского текста с помощью Natural на Node.js']
doctype 5
html(lang='ru')
  head
    title Hi
    link(href='/assets/css/main.css',type='text/css',rel='stylesheet')
  body
    .wrapper
      .header
        .avatar
          img(src='/assets/i/avatar.png')
        h1.header__title 
          a.header__link(href='#')Ношу шлем, тяжело дышу
      .about
        :markdown
           Меня зовут Антон Шувалов. Я ведущий JS-разработчик и team lead в [Enaza Books][0]. 
           Кроме программирования я [пишу музыку][0] и иногда занимаюсь дизайном интерфейсов. 
           Я есть в [Twitter][0], [Facebook][0] и на [GitHub][0]. Вы можете написать мне [email][0].
           [0]: #

      .hr

      .content
        h2 Мои статьи
        ul.articles-list__list
          .articles-list__title 2013
          for article in articles
            li.articles-list__item
              a.articles-list__link(href='/post.html')= article
        ul.articles-list__list
          .articles-list__title 2012
          for article in articles
            li.articles-list__item
              a.articles-list__link(href='/post.html')= article