- var articles = ['Frontender.info: Как устроена Basic-авторизация в Express.js', 'Как устроен Passport.JS', 'Дизайнер, архитектор, разработчик', 'Сравнение скорости выполнения функций в JavaScript', 'Классификация русского текста с помощью Natural на Node.js']
doctype 5
html(lang='ru')
  head
    title Hi
    link(href='/assets/css/main.css',type='text/css',rel='stylesheet')
  body
    .wrapper
      .header
        .avatar
          img(src='/assets/i/avatar.png')
        h1.header__title.header__title--subdued
          a.header__link(href='#')Ношу шлем, тяжело дышу
      .about
        :markdown
           Меня зовут Антон Шувалов. Я ведущий JS-разработчик и team lead в [Enaza Books][0]. 
           Кроме программирования я [пишу музыку][0] и иногда занимаюсь дизайном интерфейсов. 
           Я есть в [Twitter][0], [Facebook][0] и на [GitHub][0]. Вы можете написать мне [email][0].
           [0]: #

      .hr

      .content
        .content-header
          h2.content-header__title Как устроена Basic-авторизация в Express.js
          h5.content-header__subtitle 
            a.content-header__link(href='#') Frontender.info
        p В Express.JS есть встроенный middleware для авторизации. Если очень хочется заблокировать 
          | доступ к приложению — достаточно всего лишь добавить одну строчку в сетап express-приложения:
        p В Express.JS есть встроенный middleware для авторизации. Если очень хочется заблокировать 
          | доступ к приложению — достаточно всего лишь добавить одну строчку в сетап express-приложения:
        pre app.use(express.basicAuth('username', 'password'));
          | app.use(express.basicAuth('username', 'password'));
          | app.use(express.basicAuth('username', 'password'));
          | app.use(express.basicAuth('username', 'password'));
          | app.use(express.basicAuth('username', 'password'));
          | app.use(express.basicAuth('username', 'password'));
        p В Express.JS есть встроенный middleware для авторизации. Если очень хочется заблокировать 
          | доступ к приложению — достаточно всего лишь добавить одну строчку в сетап express-приложения.
          | В Express.JS есть встроенный middleware для авторизации. Если очень хочется заблокировать 
          | доступ к приложению — достаточно всего лишь добавить одну строчку в сетап express-приложения:
